@import url('https://fonts.cdnfonts.com/css/arimo?styles=14701');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

  .home-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0,0,0.4);
    justify-content: center;
    /* display: flex;
    align-items: center; */
  }
  
  .content {
    font-size: 20px;
    color: #fff;
    margin-bottom: 100px;
    text-align: center;
    margin-top: 100px;
  }

a {
	text-decoration: none;
}

header {
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.3rem 2%;
	background: rgba(0, 0, 0, 0.69);
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 100;
}

#logo {
	font-size: 2rem;
	color: white;
	font-family: "Arimo", sans-serif;
	font-weight: 700;
}

#logo-img {
	width: 80px;
}

.navbar a {
	font-size: 1.15rem;
	color: #fff;
	font-weight: 500;
	margin-left: 2.5rem;
}

#contactus-btn {
	background-color: #3f4140;
	border: 1px solid;
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}

.navbar a:hover {
	color: #585555;
}

#contactus-btn:hover {
	color: #030303;
	background-color: #fff;
	border: 1px solid rgb(82, 81, 81);
}


.home-container {
	width: 100%;
	height: 100vh;
	background-color: rgb(0, 0, 0, 0.4);
	justify-content: center;
}
  
.content {
	font-size: 20px;
	color: #fff;
	margin-bottom: 100px;
	text-align: center
}
  
.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

footer {
	margin-top: 2rem;
	width: 100%;
}

@media(min-aspect-ratio:16/9) {
    .background-clip {
		width: 100%;
		height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip {
		width: auto;
	height: 100%;
    }
 
  }

  .whyus-cards {
    display: flex;
    justify-content: space-around;
    outline: 0 !important;
    margin-top: 30px;
  }
  .card {
  }
  



  footer {
    margin-top: 2rem;
    width: 100%;

}
